* {
  box-sizing: border-box;
}

html,
body,
h1,
p {
  margin: 0;
  padding: 0;
}


#root {
  font-family: "Karla", sans-serif;
  color: #293264;
  display: flex;
  justify-content: center;
}


.play-again {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.result {
  margin-right: 1.5em;
  font-weight: 700;
  font-size: 1rem;
}