* {
  box-sizing: border-box;
}

html, body,
h1, p{
  margin: 0;
  padding: 0;
}


#root{
  font-family: "Karla", sans-serif;
  color: #293264;
  display: flex;
  justify-content: center;
}

.main{
  margin: 0 auto;
  width: 95%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  position: relative;
}

.game-questions--container{
  margin: 2em 0;
}

.question-options--container{
  border-bottom: 1px solid #DBDEF0;
}

.question{
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
  padding-right: 0.2em;
}

.options{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.625rem;
  margin-bottom: 1em;
}

.option{
  border: 1px solid #4D5B9E;
  border-radius: 15px;
  padding: 0.625em 1.5em;
  margin: 0.75em;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
}

.start-page{
  font-family: "Inter", sans-serif;
  background-color: #FFFFFF;
  color: #293264;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.start-page--title{
  font-family: "Karla", sans-serif;
  color: #293264;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.start-page--tagline{
  line-height: 1.5;
}

.start-page--tagline, 
.btn--container {
  margin-bottom: 2em;
}

.game-mode {
  margin: 1em;

}

.btn-mode{
  border: none;
  background-color: transparent;
  padding: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}

.btn{
  font-size: 1rem;
  background-color: #4D5B9E;
  color: #F5F7FB;
  text-decoration: none;
  padding: 1em 2.4em;
  border-radius: 10px;
  border: none;
}

.btn--disabled{
  cursor: not-allowed;
  opacity: 0.7;
}

.play-again{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.result{
  margin-right: 1.5em;
  font-weight: 700;
  font-size: 1rem;
}

.btn--container{
  display: flex;
  justify-content: center;
}

.bg--img{
  position: fixed; 
  width: 150px;
  z-index: -10;
}

.bg--img--yellow{
  top: -10%;
  right: -10%;
}

.bg--img--blue{
  bottom: 0%;
  left: -5%;
}

@media (min-width: 500px){
 
}