* {
  box-sizing: border-box;
}

html,
body,
h1,
p {
  margin: 0;
  padding: 0;
}


#root {
  font-family: "Karla", sans-serif;
  color: #293264;
  display: flex;
  justify-content: center;
}

.btn--container {
  margin-bottom: 2em;
}

.game-mode {
  margin: 0.5em;

}

.game-mode>p {
  margin-bottom: 0.8em;

}

.btn-mode {
  border: none;
  background-color: transparent;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  cursor: pointer;
  border-radius: 8px;
}

.highlight {
  background-color: #4d5b9e;
  color: #DBDEF0;
}

.play-again {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.result {
  margin-right: 1.5em;
  font-weight: 700;
  font-size: 1rem;
}